---
layout: default
title: DSA Uganda 2024 Fort Portal, Mountains of the Moon University, August 2024
---

<link rel="stylesheet" href="/dsaUganda/assets/css/style.css">

<div id="event_page" itemscope="" itemtype="http://schema.org/Event">
  <hr class="event-separator">
  <div id="event-banner-container" class="jambotron responsive-event-banner"
  style="background-image:url(/dsaUganda); background-position: right; background-repeat: no-repeat; border-bottom: 2px solid #008542; background-color: white;">
  >
    <div class="color-overlay"></div>
    <div class="event-page container">
      <div class="col-md-12 general-event-banner">
        <h1 class="event-title-heading">
          <span class="font_banner2" itemprop="name">DSA Uganda 2024 Fort Portal, Mountains of the Moon University,
            August 2024</span>
        </h1>
        <h2 class="city-date">
          <a href="#" title="Data Science Africa - Uganda Chapter" class="event-chapter-title">DSA Uganda</a>
          <div class="event-date-time">August 27, 09:00 AM (EAT)
          </div>
        </h2>
        <span itemprop="startDate" content="2021-04-27T12:30:00+00:00"></span>
        <span itemprop="endDate" content="2021-04-28T03:15:00+00:00"></span>
        
        <div class="card">
          <p class="event-short-description-on-banner"><b>Theme:</b> Data Science and AI Horizons: Cultivating Innovation for Sustainable Agriculture, Environment, Health, and Tourism
          </p>
           <p class="event-short-description-on-banner">
            <b>Twitter:</b> <a href="https://x.com/dsa_Uganda" target="_blank">@dsa_Uganda</a>
          </p>
                </div>
        <!--  -->
        <aside id="react-root-event-tags">
          <div class="MuiBox-root jss5 jss3 jss2 jss1 event-tags">

            <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span class="MuiChip-label">Data</span></div>

            <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                class="MuiChip-label">Applications</span></div>

            <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span class="MuiChip-label">Case
                Studies</span></div>

            <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span class="MuiChip-label">Policy</span>
            </div>

            <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                class="MuiChip-label">Opportunities</span></div>

          </div>
        </aside>

               <br><br>
        <div id="virtual-join-button-container" itemscope="" itemprop="location"
          itemtype="http://schema.org/VirtualLocation">
          <span itemprop="url" content="#"></span>
        </div>
        <div id="javascript-event-not-ready"></div>
      </div>
    </div>
  </div>

  <div class="description-container unpurchased-virtual-no-info ">

    <div class="container launch">
      <h1>About the Event </h1>
      <p>This event is a collaboration between Data Science Africa Uganda, Mountains of the Moon University, and
        Fort
        Portal Tourism City.</p>

      <h1>Context</h1>
      <p>DSAU 2024 Fort Portal is a timely event as Uganda develops its National Data Strategy. This strategy aims
        to
        create a coordinated and vibrant data-driven economy for socio-economic transformation. The principles
        guiding
        this strategy include integrity and ethics, protection and security, transparency and accountability,
        trust,
        standardization, and equity and inclusivity.</p>
      <p>Moreover, Uganda’s ambitious tenfold growth strategy seeks to elevate the country’s GDP from USD 49.5
        billion
        (FY 2023/2024) to USD 500 billion in the next 15 years. This transformative agenda prioritizes areas
        such as
        science, technology, and innovation, including digital transformation, which rely heavily on quality and
        timely
        data. The National Data Strategy is poised to play a crucial role in achieving this ambitious goal by
        maximizing
        the potential of data as an economic resource.</p>

      <p> </p>

      <h1>Objectives</h1>
      <ol>
        <li>Strengthen Data Skills: Equip participants with the competencies necessary for effective data
          management,
          analysis, interpretation, and utilization.</li>
        <li>Foster Data Culture: Promote values, norms, and behaviors that prioritize and promote the effective
          use of
          data.</li>
        <li>Support National Strategy: Align with Uganda’s National Data Strategy and the Digital Uganda Vision
          2040.
        </li>
        <li>Encourage Innovation: Cultivate innovation in sustainable agriculture, environment, health, and
          tourism
          through data science and AI.</li>
      </ol>

      <p> </p>

      <h1>Inspiration and Collaboration for a Data Science Research Center</h1>
      <p>A delegation of two staff members from Mountains of the Moon University (MMU) recently attended DSA 2024
        in
        Nyeri, Kenya, and were inspired to initiate a data science research center at the University. This event
        presents a prime opportunity for MMU to forge collaborations around this exciting endeavor.</p>

      <h1>Target Audience</h1>
      <p>We expect 120 participants drawn from across Uganda, with a focus on the Toro Kingdom and surrounding
        areas.
        Attendees will include government officials, private sector representatives, academics, members of the
        UN
        community, and Civil Society Organizations.</p>

      <p> </p>

      <h1>Day One</h1>

      <table>
        <tr>
          <th>Time</th>
          <th colspan="2">Activity/Session</th>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">Day 1 (Summer School)</td>
        </tr>
        <tr>
          <td>08:30-09:00</td>
          <td colspan="2">Arrival and Registration</td>
        </tr>
        <tr>
          <td>09:00-09:10</td>
          <td colspan="2">Opening Ceremony - MMU Team and DSAU</td>
        </tr>
        <tr>
          <td>09:10-09:25</td>
          <td colspan="2">Welcome keynote - DVC MMU</td>
        </tr>
        <tr>
          <td>09:30-10:30</td>
          <td><b>Session 1: Rwenzori</b></td>
          <td><b>Session 1: Hot Springs</b></td>
        </tr>
        <tr>
          <td></td>
          <td><u>Python in Data science.</u> <br>
            <i>
              1. {{ site.data.events | where: "id", 13 | map: "name" }}
              ({{ site.data.events | where: "id", 13 | map: "company" }})
            </i>
          </td>
          <td><u>Introduction to Data Science and AI.</u><br>
            <i>
              1. {{ site.data.events | where: "id", 14 | map: "name" }}
              ({{ site.data.events | where: "id", 14 | map: "company" }})
            </i>
          </td>
        </tr>
        <tr>
          <td>10:30-11:00 </td>
          <td colspan="2">Tea Break and Networking</td>
        </tr>

        <tr>
          <td>11:00-12:00</td>
          <td>
            <u>Data Engineering & Analytics</u> <br>
            <i>{% assign panelist_ids = "15,16" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td>
            <u>Data Visualization and Storytelling</u> <br>
            <i>{% assign panelist_ids = "17,18" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>
        <tr>
          <td>12:00-01:00</td>
          <td>
            <u>Machine Learning Fundamentals</u> <br>
            <i>{% assign panelist_ids = "19" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td>
            <u>Deep Learning Fundamentals</u> <br>
            <i>{% assign panelist_ids = "20" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>

        <tr>
          <td>01:00-02:00</td>
          <td colspan="2">Lunch and Networking</td>
        </tr>

        <tr>
          <td>02:00-04:00</td>
          <td>
            <u>NLP Labs</u><b> (Case study: Agriculture | Health | Environment | Tourism)</b>
            <br>
            <i>{% assign panelist_ids = "21" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td>
            <u>Computer Vision Labs</u><b> (Case study: Agriculture | Health | Environment | Tourism)</b>
            <br>
            <i>{% assign panelist_ids = "22" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>

        <tr>
          <td>04:00-05:00</td>
          <td colspan="2">Practice Labs + Networking + Feedback on summer school</td>
        </tr>
      </table>

      <h1>Day Two</h1>

      <table>
        <tr>
          <th>Time</th>
          <th colspan="2">Activity/Session</th>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">Day 2(Workshop)</td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">Opening Ceremony and Keynote Address</td>
        </tr>

        <tr>
          <td>08:30-09:00</td>
          <td colspan="2">Welcome remarks by University, DSA Uganda and Fort Portal City, MP for Fort Portal City.</td>
        </tr>

        <tr>
          <td>09:00-09:45 </td>
          <td colspan="2">Keynote: Harnessing the Transformative Power of Data Science and AI for Uganda’s Ten-Fold
            Growth Agenda Dr. William Wasswa Member of the African Union High Level Panel on Emerging Technologies
            (APET)</td>
        </tr>

        <tr>
          <td>09:45-10:00</td>
          <td colspan="2">Photo moment and breaking out</td>
        </tr>

        <tr>
          <td></td>
          <td><b>Track 1: Agriculture and Tourism (Jack)</b></td>
          <td><b>Track 2: Health and Environment (Johnstone)</b></td>
        </tr>

        <tr>
          <td>10:00-10:30</td>
          <td><u>Enhancing Crop Health:</u> <b>The Role of Low-Cost Spectroscopy Sensors in Real-Time Disease
              Monitoring. </b>
            <br>
            <i>1. {{ site.data.events | where: "id", 12 | map: "name" }}</i>
          </td>
          <td><u>Tracking the air quality in a city:</u> <b>From physical environment sensing to modeling of air
              pollution in Fort Portal City </b>
            <br>
            <i>{% assign panelist_ids = "23,24" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>

        <tr>
          <td>10:30-11:00 </td>
          <td><u>Keynote Presentation:</u> <b>The Power of Data: Unlocking Uganda’s Potential with the National Data
              Strategy for a $500 Billion Economy. </b>
            <br>
            <i>{% assign panelist_ids = "27" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td><u>Keynote Presentation:</u> <b>Securing Africa's Future; Advancing Responsible AI for Health—A Path You
              Can't Afford to Miss</b>
            <br>
            <i>{% assign panelist_ids = "28" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} -{{ panelist.title }} at {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>

        <tr>
          <td>12:30-01:00</td>
          <td><u>Panel 1: Transforming Tourism:</u> <b>Harnessing Data Science and AI for Sustainable Growth in Uganda’s
              Emerging Cities.</b>
            <br><br>
            <b>Moderator:</b> 
              {{ site.data.events | where: "id", 2 | map: "name" }}
              ({{ site.data.events | where: "id", 2 | map: "company" }}) And 
              {{ site.data.events | where: "id", 30 | map: "name" }}
              {{ site.data.events | where: "id", 30 | map: "company" }}
            
            <br><br>

            <i>{% assign panelist_ids = "31,32" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} - {{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td><u>Panel 1: TBC ( Dr. Ernest Mwebaze)</u> <b>Securing Africa's Future; Advancing Responsible AI for
              Health—A Path You Can't Afford to Miss</b>
            <br>
            <i>{% assign panelist_ids = "16,33,28,34" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} -{{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>

        <tr>
          <td>01:00-01:15</td>
          <td>Q&A</td>
          <td>Q&A</td>
        </tr>

        <tr>
          <td>01:15-02:15</td>
          <td colspan="2">Lunch Break</td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">Presentation on Ugandan Census 2024 - UBOS (15 minutes)</td>
        </tr>

        <tr>
          <td></td>
          <td><b>Track 1: Agriculture and Tourism</b></td>
          <td><b>Track 2: Health and Environment</b></td>
        </tr>

        <tr>
          <td>02:30-03:30 </td>
          <td><u>Panel 2: Navigating the Data Landscape:</u> <b>Governance as the Key to Unlocking Trust, Innovation,
              and Transformative Development. </b>
            <br>
            <b>Moderator:</b> {{ site.data.events | where: "id", 6 | map: "name" }}
            <br>
              <b>Panelists</b> <br>
            
            <i>{% assign panelist_ids = "35,2,27,36" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} -{{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
          <td><u>Panel 2: Shaping Our Future: </u> <b>The Imperative of Responsible and Ethical Use of Data and AI. </b>
            <br><br>
            <b>Moderator: </b>{{ site.data.events | where: "id", 37 | map: "name" }}
            <br>
              <b>Panelists</b><br>
            
            <i>{% assign panelist_ids = "38,39,40" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} -{{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i>
          </td>
        </tr>
        <tr>
          <td>03:30-04:30</td>

          <td colspan="2"> <u>Panel 3: DataCities:</u> <b>Towards developing the critical understanding, strategies, and
              data tools needed to enhance urban services.</b>
            
              <b>Panelists</b> <br>
            
            <i>{% assign panelist_ids = "41,36,4,35" | split: "," %}
              {% for id in panelist_ids %}
              {% assign panelist = site.data.events | where: "id", id | first %}
              {{ forloop.index }}. {{ panelist.name }} -{{ panelist.title }} {{ panelist.company }} <br>
              {% endfor %}</i><br>
          </td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">Closing Remarks</td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">Summary of the day’s discussions, Final thoughts and future directions</td>
        </tr>

      </table>

      <h1>Day Three</h1>
      <table>
        <tr>
          <th>Time</th>
          <th colspan="2">Activity/Session</th>
        </tr>

        <tr>
          <td></td>
          <td colspan="2">
            Day 3 (Excursion)
This trek is more than just a walk—it's an immersive journey into the heart of Uganda’s natural wonders. Our adventure begins at Nyamirima Cottages, nestled near the mystical Lake Nyamirima Crater. <br><br>
Located just 18 km along the Fort Portal-Kamwenge Road and approximately 3 km from Kibale National Park, Nyamirima is steeped in local legend. The name Nyamirima, meaning Mother of Darkness in the local dialect, reflects the lake’s dark waters, which appear almost otherworldly when viewed from the top of the cliff. <br><br>
Uganda boasts more than 50 crater lakes, each one a testament to the country’s stunning natural beauty and ancient history. While some of these lakes are saline and emit a strong scent, many others are freshwater, offering breathtaking scenery. These lakes, formed over 12,000 years ago, are spectacular and timeless masterpieces of nature, and the dark waters of Lake Nyamirima, in particular, are sights few will ever witness up close.
          </td>
        </tr>

        <tr>
          <td>08:00-09:00</td>
          <td>Pickup at Hotel</td>
        </tr>

        <tr>
          <td>09:00-09:20</td>
          <td>Arrival at Nyamirama Cottages</td>
        </tr>

        <tr>
          <td>09:20-11:45</td>
          <td>Hiking to Top of the World Hote</td>
        </tr>

        <tr>
          <td>11:55-12:55</td>
          <td>Lunch</td>
        </tr>

        <tr>
          <td>01:00</td>
          <td>Departure to Fort Portal City</td>
        </tr>
      </table>
    </div>
    
      
    </div>


  </div>

  {% include event_speakers.html %}