<div id="event_page" itemscope="" itemtype="http://schema.org/Event">
    <div id="event-banner-container" class="jumbotron responsive-event-banner">
        <div class="color-overlay"></div>
        <div class="event-page container">
            <div class="col-md-12 general-event-banner">
                <h1 class="event-title-heading">
                    <span class="font_banner2" itemprop="name">Pre-launch event, April 2021</span>
                </h1>
                <h2 class="city-date">
                    <a href="/gdg-nyc/" title="Data Science Africa - Uganda Chapter" class="event-chapter-title">DSA UG</a>
                    <div class="event-date-time">Apr 30, 8:30 AM (EAT)</div>
                </h2>
                <span itemprop="startDate" content="2021-04-27T12:30:00+00:00"></span>
                <span itemprop="endDate" content="2021-04-28T03:15:00+00:00"></span>
                <p class="event-short-description-on-banner">In collaboration with Academia, Governement agencies, Private sector and 
                    UN agancies we are excited 💯 bring you the pre-launch event of DSA Uganda Chapter 🇺🇬
                </p>
                <aside id="react-root-event-tags">
                    <div class="MuiBox-root jss5 jss3 jss2 jss1 event-tags">
                        <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                                class="MuiChip-label">Android</span></div>
                        <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                                class="MuiChip-label">Mobile</span></div>
                    </div>
                </aside>
                <div id="virtual-join-button-container" itemscope="" itemprop="location"
                    itemtype="http://schema.org/VirtualLocation">
                    <span itemprop="url" content="https://gdg.community.dev/e/mzdf4g/"></span>
                </div>
                <div id="javascript-event-not-ready"></div>
            </div>
        </div>
    </div>
    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container">
            <h2 class="general-h1 event-description--title">About this event</h2>
            <div class="event-description general-body">
                <p>With the help of many other communities from around the world, we're excited to be partners of the
                    upcoming Android Worldwide event!</p>
                <h2>🌎 Welcome to <b>Android Worldwide, April 2021</b></h2>
                <p>We're an international group of developer communities coming together to make a joint impact. We're
                    passionate developers aiming to create highly engaging, inclusive, and fun experiences to help
                    members learn, grow, and meet like-minded people.</p>
                <h2>🕕 <b>Agenda (all times are in EDT)</b></h2>
                <p>8:30 AM: Socialize, network, and meet like-minded engineers from across the world</p>
                <p>9:15 AM: Making rules with Lint by Honey Sonwani</p>
                <p>10:05 AM: Jetpack Compose for Games &amp; Animations by Wajahat Karim</p>
                <p>1:15 PM: Android App Bundle: from start to deployment by Julien Salvi</p>
                <p>2:05 PM: Mastering API Visibility in Kotlin by Márton Braun</p>
                <p>7:30 PM: Kotlin goes global by Karan Dhillon</p>
                <p>9:45 PM: Unit Testing Kotlin Channels &amp; Flows by Mohit Sarveiya</p>
                <p>10:35 PM: Preview Driven Development by Rikin Marfatia</p>
                <h2><b>Partnering Communities: </b></h2>
                <p>Android Budapest, ADG Poznan, Android Serbia, AndroidHeads Vienna, GDG Tbilisi, GDG Kolachi, GDG MAD,
                    GDG Nagpur, Kotlin Mumbai, Denver Droids, GDG LA, GDG LA Android, GDG Android Columbus, GDG Boston
                    Android, GDG Capital Region, GDG Cordoba Argentina, GDG Montreal, GDG Capital Region, GDG Toronto
                    Android</p>
                <h2><b>Speakers:</b></h2>
                <p><b>Honey Sonwani</b></p>
                <p>Product Engineer, Obvious</p>
                <p>Honey Sonwani is an Android Engineer at Obvious and believes that the Android ecosystem we live in is
                    only as good as we make it. A highly community-driven individual, she’s passionately involved as one
                    of the organisers in Firebase Community Mumbai and Mumbai Women Coders.</p>
                <p><b>Julien Salvi</b></p>
                <p>Senior Android Engineer, Aircall</p>
                <p>Into the Android world for almost 10 years (scary Eclipse dark time!), Julian experienced California
                    startup way of life before coming back to France. He is currently a Senior Android Engineer at
                    Aircall, building the best phone system for modern businesses. Alongside Android, Julien has a great
                    interest in backend development with Kotlin and AR/VR technology. In his spare time, he is a world
                    traveler and a beer lover always looking for the best IPAs!</p>
                <p><b>Wajahat Karim</b></p>
                <p>Android Lead, Airlift</p>
                <p>Wajahat Karim is Pakistan’s first Google Developer Expert in Android. As an experience Android
                    developer, he deeply cares about it and keeps writing and speaking about it. He has written two
                    worldwide 300+ pages books on Android development with more than 100 articles around the internet
                    either on his website or his Medium publications. He is also a passionate contributor in open source
                    and has created many Android libraries used by thousands of developers in their apps worldwide. As
                    active publ</p>
                <p><b>Rikin Marfatia</b></p>
                <p>Android Engineer, Pinterest</p>
                <p>Rikin has been an Android focused engineer for about 5 years, and has recently been obsessed with all
                    things Jetpack Compose</p>
                <p><b>Karan Dhillon</b></p>
                <p>Software Dev, Mobile, Hootsuite</p>
                <p>Karan lives in toronto, and is a software developer for Hootsuite.</p>
                <p><b>Mohit Sarveiya</b></p>
                <p>Android and Kotlin GDE, Google Dev Expert</p>
                <p>Mohit Sarveiya is a Google Developer Expert in Kotlin and Android. Prior to building Android apps, he
                    was a Backend Engineer. He was an early adopter of Kotlin and absolutely loves the language. He has
                    given many talks and workshops on Kotlin.</p>
                <p><b>Márton Braun</b></p>
                <p>Stream, Android Dev Advocate &amp; Engineer</p>
                <p>A Kotlin enthusiast since the 1.0 of the language. Android Developer Advocate at Stream. Google
                    Developer Expert for Kotlin and Android. Android/Kotlin tech editor at RayWenderlich.com. Instructor
                    at BME-VIK, teaching Kotlin and Android. Ranked right around the very top of the Kotlin tag on
                    StackOverflow. Creator of a couple open source Kotlin libraries.</p>
                <p><br></p>
                <div id="instructions-container">
                </div>
            </div>
        </div>
    </div>
    <hr class="event-separator">
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% for speaker in site.data.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{ speaker.image }}"
                        alt="{{ speaker.name}}" onerror="this.onerror = function() {
                            this.onerror = null;
                            this.src = '/static/images/placeholder_avatar.png';
                        };
  this.src='https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_250,q_auto:good,w_250/v1/gcs/platform-data-goog/contentbuilder/GDG-Bevy-DefaultProfile_xY7OLAZ.png';
" class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                    </div>
                    <a class="btn btn-secondary" href="/u/m5t737/">View Profile</a>
                </li>
                {% endfor %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% for organizer in site.data.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{ organizer.image }}"
                        alt="{{ organizer.name }}" onerror="
  this.onerror = function() {
    this.onerror = null;
    this.src = '/static/images/placeholder_avatar.png';
  };
  this.src='https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_250,q_auto:good,w_250/v1/gcs/platform-data-goog/contentbuilder/GDG-Bevy-DefaultProfile_xY7OLAZ.png';
" class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <button type="button" class="contact-us btn btn-primary btn-lg" data-toggle="modal"
            data-target="#contact-host-modal">
            <span class="icon-mail"> </span><span class="text">
                Contact Us
            </span>
        </button>
        <div class="modal fade" id="contact-host-modal" tabindex="-1" role="dialog"
            aria-labelledby="contact-host-modal">
            <div class="modal-dialog contact-host" role="document">
                <div class="modal-content">
                    <button type="button" class="icon-cancel-1" data-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <form class="contact-host container" method="post" chapterid="937" eventid="37279">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                value="WpkaArbeqSuFAGJewlF0ILQ35kW8DUe7DoRbUpXg8YlcdVuqzkfs3HgNaw4eCFCB">
                            <span class="icon-mail header-icon"></span>
                            <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                            <div class="row">
                                <p class="form-group">
                                    <input class="form-control" id="id_sender_name" name="sender_name"
                                        placeholder="First and Last Name">
                                </p>
                                <p class="form-group">
                                    <input class="form-control" id="id_sender_email" name="sender_email"
                                        placeholder="Your email address">
                                </p>
                                <p class="form-group">
                                    <textarea class="form-control" id="id_message_plaintext" name="message_plaintext"
                                        placeholder="Message"></textarea>
                                </p>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-action ladda-button" type="submit"
                                    data-style="expand-right"><span class="ladda-label">Send</span><span
                                        class="ladda-spinner"></span></button>
                            </div>
                        </form>
                        <div class="success container">
                            <div class="icon-success"></div>
                            <h4 class="modal-title">Message Sent!</h4>
                            <div class="row">
                                <p class="message">Your message has been successfully sent.</p>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-action" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>