<div id="carousel-id-1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="background-image"
                style="background-image: url({{site.baseurl}}/assets/img/flying-crane.jpg); background-position: 100% 60%;"
                role="img">
            </div>
            <div class="content" style="height: 500px">
                <div class="content-inside banner-message">
                    <h2>Data Science Africa - Uganda Chapter</h2>
                    <h3>Virtual PreLaunch Event: 30 April 2021</h3>
                    <div>
                        <ul class="social-links">
                            <li><a class="social-button icon-twitter" href="#"
                                    target="_blank" rel="noopener noreferrer" title="Twitter"></a></li>
                            <li><a class="social-button icon-linkedin"
                                    href="#"
                                    target="_blank" rel="noopener noreferrer" title="LinkedIn"></a></li>
                            <li><a class="social-button icon-youtube" href="#"
                                    target="_blank" rel="noopener noreferrer" title="YouTube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="pause carousel-control" href="#0" role="button">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            <span class="sr-only">Play/Pause</span>
        </a>
        <a class="left carousel-control" href="#carousel-id-1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-id-1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</div>