<div id="carousel-id-1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">



        <style>
            .content-inside {
                background-color: rgba(0, 0, 0, 0.75);
            }
        </style>
        {% assign i = 0 %}
        {% for image in site.gallerylinks %}

        <!-- Begin slide       -->
        <div class="item {% if i==0 %} active {% endif %}">
            <div class="background-image"
                style="background-image:  url({{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ image.imagename }}); background-color: #ddd;"
                role="img">
            </div>
            <div class="content">
                <div class="carousel-caption" style="background-color:rgba(0,0,0,0.75);">
                    <p>{{ image.datasubhtml }}</p>
                </div>
            </div>

        </div>
        <!--  end slide      -->
        {% assign i = i | plus:1 %}
        {% endfor %}

        <a class="pause carousel-control" href="#0" role="button">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            <span class="sr-only">Play/Pause</span>
        </a>
        <a class="left carousel-control" href="#carousel-id-1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-id-1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>