<div class="container" style="padding-top:8em;">
    <h1>Speakers</h1>
    <div class="speakers-container">
        {% for speaker in site.data.speakers %}
        {% if site.showSessions %}
        <div class="speaker">
            <div class="speaker-details">
                <img src="{{ site.baseurl | append: '/speakers_images/people/' | append: speaker.thumbnailUrl }}"
                    class="w-100 mb-4 img img-fluid" />
                <h5>{{ speaker.name }} <span>{{ speaker.surname }}</span></h5>
                <p>
                    {{ speaker.company }}
                </p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>