---
layout: default
calendar_css: <link rel="stylesheet" href="!PATH_TO_COMPONENTS!/bootstrap-calendar/css/calendar.css">
calendar_bootstrap_css: <link rel="stylesheet" href="!PATH_TO_COMPONENTS!/bootstrap/css/bootstrap.css">
---
{% assign PATH_TO_COMPONENTS =  "/components" | prepend: site.baseurl %}



<link rel="stylesheet" href="{{ site.baseurl }}/components/fullcalendar/main.css">
<script type="text/javascript" src="{{PATH_TO_COMPONENTS}}/fullcalendar/main.js"></script>

<div>
  {{ content }}
</div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
      
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: '100%',
      expandRows: true,
      slotMinTime: '08:00',
      slotMaxTime: '20:00',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      initialView: 'dayGridMonth',
      initialDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      selectable: true,
      nowIndicator: true,
      dayMaxEvents: true, // allow "more" link when too many events
      eventColor: 'green',
      events: [
        
        {% for event in site.data.calendar %}
          
          {% if event.type == 'call' %}
                            
             {
                 title: '*{{ event.title }}',
                 start: '{{ event.start }}',
                 url: '{{ event.url }}',
                 color: '{{ event.color }}',
             },
             {
                 title: '{{ event.title }}',
                 start: '{{ event.end }}',
                 url: '{{ event.url }}',
                 color: '{{ event.color }}',
             },
          {% else %}
             {
                 title: '{{ event.title }}',
                 start: '{{ event.start }}',
                 end: '{{ event.end }}',
                 url: '{{ event.url }}',
                 color: '{{ event.color }}',
             },
          {% endif %}
        {% endfor %}
          
              ]
    });

    calendar.render();
  });

</script>
<style>

  #calendar {

  margin: 40px 40px;
}

  #calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fc-header-toolbar {
   
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
    
</style>



    <div id='calendar'></div>
  
                    


