<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/js/1.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.g.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.d.css" | relative_url }}">
    

  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    <script src="{{ "/assets/js/main.bundle.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/client.bundle.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/1.7cbd20e09b8e78d63b0f.chunk.js" | relative_url }}"></script>
  </body>
</html>
