---
layout: default
---
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->

<style type="text/css">
    .live-icon {
        display: inline-block;
        position: relative;
        top: calc(50% - 5px);
        background-color: red;
        width: 10px;
        height: 10px;
        margin-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        z-index: 1;
    }

    .live-icon:before {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(255, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: live 2s ease-in-out infinite;
        animation: live 2s ease-in-out infinite;
        z-index: -1;
    }

    @-webkit-keyframes live {
        0% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(3.5, 3.5);
            background-color: rgba(255, 0, 0, 0);
        }
    }

    @keyframes live {
        0% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(3.5, 3.5);
            background-color: rgba(255, 0, 0, 0);
        }
    }


    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

    .btnlive {
        display: block;
        font-weight: 700;
        position: relative;
        padding: 13px 25px;
        background-color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        color: #333;
        border-radius: 50px;
        border: 1px solid white;
        box-shadow: 0px 2px 0px #02679e;
        transition: all 0.2s;
        z-index: 1;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .btnlive:hover {
        transform: translateY(-5px);
        padding: calc(13px * 1.2) calc(25px * 1.2);
        padding-right: calc(22px * $btnPaddingScalePlus);
        background-color: white;
        border: none;
        box-shadow: 0px 5px 10px #0271ae;
    }

    .btnlive:hover>span:before {
        -webkit-animation: none;
        animation: none;
    }

    .btnlive:active {
        transform: translateY(0px);
        padding: calc(13px * 0.95) calc(25px * 0.95);
        box-shadow: inset 0px 2px 1px #02679e;
    }

    .btn_transparent {
        border: 0px;
        border-radius: 0px;
        padding: 13px 25px;
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
        box-shadow: none;
    }

    .btn_transparent:hover {
        box-shadow: none;
        background-color: inherit;
    }

    .btn_live {
        padding-right: 22px;
    }

    small {
        position: absolute;
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.5);
        bottom: 2rem;
    }

    small b {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
        z-index: -1;
    }

    @media only screen and (max-width: 500px) {
        .toolbar {
            flex-direction: column;
            padding-left: 50px;
            padding-right: 50px;
        }

        .btnlive {
            width: 250px;
        }

        span.live-icon {
            position: absolute;
            right: 20px;
        }
    }

    @media only screen and (max-width: 350px) {
        .btnlive {
            width: 100%;
        }
    }

    .launch1 h1 {
              position: relative;
              padding: 0;
              margin: 0;
              font-family: "Raleway", sans-serif;
              font-weight: 300;
              font-size: 30px;
              color: #008542;
              -webkit-transition: all 0.4s ease 0s;
              -o-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s;
            }
            
            /* === HEADING STYLE #3 === */
            .launch1 h1 {
              font-size: 28px;
              font-weight: 500;
              letter-spacing: 0;
              line-height: 1.5em;
              padding-bottom: 15px;
              position: relative;
            }
            .launch1 h1:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 5px;
              width: 55px;
              background-color: #008542;
            }
            .launch1 h1:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 2px;
              height: 1px;
              width: 95%;
              max-width: 255px;
              background-color: #008542;
            }
            
            .launch1 table {
                border-collapse: collapse;
                margin-top: 9px;
                width: 100%;
            }
            
            .launch1 table thead tr{
                background-color:#008542; 
                color: white;
                border-bottom: 1px solid white;
                
                
            }
            .launch1 table thead tr td{
                padding: 10px;
                border-left: 1px solid white;
                text-align: center;
            }
            .launch1 table tbody tr td{
                padding: 10px;
                border-left: 1px solid white;
                text-align: center;
            }
            .launch1 table tbody tr:nth-child(2n) td{
                background: #E3EBE2;
            }
            .launch1 table tbody tr:nth-child(2n-1) td{
                background: #FEFCEA;
            }
            .launch1 table tbody tr td:nth-child(1){
                text-align: center;
            }
            .people-card--avatar {
                width: 100%; /* Adjust width as needed */
                height: auto; /* Maintain aspect ratio */
                object-fit: cover; /* Scale the image to cover the container */
                max-width: 200px; /* Adjust this to set a maximum size for the images */
                max-height: 200px; /* Adjust this to control the maximum height */
                border-radius: 50%; /* Make the image circular if desired */
            }
</style>

<div id="event_page" itemscope="" itemtype="http://schema.org/Event">
    <hr class="event-separator">
    <div id="event-banner-container" class="jambotron responsive-event-banner"
        style="background-image:url({{site.baseurl}}{{ page.eventPhoto }}); background-position: right; background-repeat: no-repeat; border-bottom: 2px solid #008542; background-color: white;">
        <div class="color-overlay"></div>
        <div class="event-page container">
            <div class="col-md-12 general-event-banner">
                <h1 class="event-title-heading">
                    <!-- <span class="font_banner2" itemprop="name">Pre-launch event, April 2021</span> -->
                    <span class="font_banner2" itemprop="name">{{ page.name }}, {{ page.date | date: "%B %Y" }}</span>
                </h1>
                <h2 class="city-date">
                    <a href="#" title="Data Science Africa - Uganda Chapter" class="event-chapter-title">DSA UG</a>
                    <div class="event-date-time">{{ page.date | date: "%B %-d" }}, {{ page.time }} ({{ page.timezone }})
                    </div>
                </h2>
                <span itemprop="startDate" content="2021-04-27T12:30:00+00:00"></span>
                <span itemprop="endDate" content="2021-04-28T03:15:00+00:00"></span>
                <p class="event-short-description-on-banner">{{ page.about }}
                </p>
                {% if page.type == "launch" %}
                <!-- <p class="event-short-description-on-banner">
                    <strong>Attention:</strong> Registration will be opening soon! Stay tuned for more updates.
                </p> -->
                <p class="event-short-description-on-banner"><b>Harsh Tag:</b> {{ page.harshtag }}
                </p>
                <p class="event-short-description-on-banner"> <b>Twitter:</b> {{ page.twitter }}
                </p>
                <!-- {% endif %} -->
                <aside id="react-root-event-tags">
                    <div class="MuiBox-root jss5 jss3 jss2 jss1 event-tags">
                        {% for event_tag in page.tags %}
                        <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span class="MuiChip-label">{{
                                event_tag }}</span></div>
                        {% endfor %}
                    </div>
                </aside>


                <!-- partial:index.partial.html -->

                <!-- <a href="{{ page.registerLink }}" class="btn btn-primary btn_live">Click to Stream Live now<span class="live-icon"></span></a>

                <br><br> -->





                <a class="btn btn-primary" href="{{ page.registerLink }}">Click to Register <i
                        class="glyphicon glyphicon-edit"></i></a>
                <br><br>
                <div id="virtual-join-button-container" itemscope="" itemprop="location"
                    itemtype="http://schema.org/VirtualLocation">
                    <span itemprop="url" content="#"></span>
                </div>
                <div id="javascript-event-not-ready"></div>
            </div>
        </div>
    </div>
    {% if page.type != "launch" %}
    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container">
            <h2 class="general-h1 event-description--title">Event Schedule</h2>


            <table class="presentations">
                <thead>
                    <tr>
                        <th>
                            <h4 class="text-center">Time</h4>
                        </th>
                        <th>
                            <h4 class="text-center">Presentation</h4>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for talk in page.agenda %}
                    <!--<pre> {{ talk | inspect}} </pre>-->
                    {% include listtalk.html %}
                    {% endfor %}
                </tbody>
            </table>





            <!--  <div class="event-description general-body">
                <h2 class="center">📄 <b>Agenda (all times are in {{ page.timezone }})</b></h2>
                {% if page.agenda %}
                    {% for topic in page.agenda %}
                <h3>{{ topic[0] }}</h3>
                        {% for item in topic[1] %}
                <p>{{ item }}</p>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                <p class="center">No agenda available</p>
                {% endif %}
            </div> -->
        </div>
    </div>
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% if page.speakers %}
                {% for speaker in page.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image" src="{{site.baseurl}}{{ speaker.image }}" alt="{{ speaker.name}}" onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                        class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
                    <!--                    <a class="btn btn-secondary" href="#">View Profile</a>-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#exampleModal{{ speaker.id }}">
                        View Profile
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ speaker.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="exampleModalLabel">{{ speaker.name }}</h5>

                                </div>
                                <div class="modal-body">
                                    <center>
                                        <img itemprop="image" src="{{site.baseurl}}{{ speaker.image }}"
                                            alt="{{ speaker.name}}" onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                                            class="people-card--avatar">
                                        <div class="people-card--text">
                                            <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                                            <p class="people-card--title">{{ speaker.title }}</p>
                                            <p class="people-card--company">{{ speaker.company }}</p>
                                            <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                                        </div>
                                        <!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                                    </center>
                                    <hr>
                                    <center>
                                        <p class="text-left"><strong>Bio: </strong><br>
                                            {{ speaker.bio }}</p>
                                        <br>
                                    </center>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <p>No speakers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% if page.organizers %}
                {% for organizer in page.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image" src="{{site.baseurl}}{{ organizer.image }}" alt="{{ organizer.name }}"
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <p>No organizers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Partners
            </h1>
            <div class="container cards">

                {% if page.partners %}
                {% for partner in page.partners %}
                {% assign p = site.data.partners[partner] %}
                {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }})" role="figure" class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" src="{{site.baseurl}}{{ p.image }}" onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!-- <span class="label">{{ p.name }}</span> -->
                </a>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
    </div>
    {% else %}




    <div class="description-container unpurchased-virtual-no-info ">
        <!-- <div class="container">
            <div class="card-container-guest">
                <div class="photo-container">
                    <div class="date">
                        <div class="day">05</div>
                        <div class="month">August</div>
                    </div>
                    <div class="image"></div>
                </div>
                <div class="info-container">
                    <div class="event-name">
                        Guest of Honour. <br>DR. AMINAH ZAWEDDE
                    </div>
                    <div class="event-location">
                        Permanent Secretary of the Ministry of ICT and National Guidance
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <img src="../assets/img/people/amina.jpeg" class="circle circle-shadow">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container launch">
            <h1>About the Event </h1>
            <p>This event is a collaboration between Data Science Africa Uganda, Mountains of the Moon University, and
                Fort
                Portal Tourism City.</p>
            <p> </p>

            <!-- <h1>About Data Science Africa Uganda <em>(DSA Uganda)</em></h1>
            <ul>
                <li>Purpose: Empower a community of practitioners and enthusiasts in data-centric technologies for
                    African
                    solutions.</li>
                <li>Vision: Recognized continentally as a badge of excellence in training data-centric technologies
                    among
                    employers, policymakers, and community stakeholders.</li>
                <li>Core Values: Openness and inclusivity, pragmatism, sustainability, community, and agility.</li>
            </ul>

            <p>Since its inception in 2015, DSA has organized 11 capacity-strengthening events across 8 African
                countries,
                with the most recent in Nyeri, Kenya, attracting over 320 participants from 28 countries.</p>

            <p> </p> -->

            <h1>Context</h1>
            <p>DSAU 2024 Fort Portal is a timely event as Uganda develops its National Data Strategy. This strategy aims
                to
                create a coordinated and vibrant data-driven economy for socio-economic transformation. The principles
                guiding
                this strategy include integrity and ethics, protection and security, transparency and accountability,
                trust,
                standardization, and equity and inclusivity.</p>
            <p>Moreover, Uganda’s ambitious tenfold growth strategy seeks to elevate the country’s GDP from USD 49.5
                billion
                (FY 2023/2024) to USD 500 billion in the next 15 years. This transformative agenda prioritizes areas
                such as
                science, technology, and innovation, including digital transformation, which rely heavily on quality and
                timely
                data. The National Data Strategy is poised to play a crucial role in achieving this ambitious goal by
                maximizing
                the potential of data as an economic resource.</p>

            <p> </p>

            <h1>Objectives</h1>
            <ol>
                <li>Strengthen Data Skills: Equip participants with the competencies necessary for effective data
                    management,
                    analysis, interpretation, and utilization.</li>
                <li>Foster Data Culture: Promote values, norms, and behaviors that prioritize and promote the effective
                    use of
                    data.</li>
                <li>Support National Strategy: Align with Uganda’s National Data Strategy and the Digital Uganda Vision
                    2040.
                </li>
                <li>Encourage Innovation: Cultivate innovation in sustainable agriculture, environment, health, and
                    tourism
                    through data science and AI.</li>
            </ol>

            <p> </p>

            <h1>Inspiration and Collaboration for a Data Science Research Center</h1>
            <p>A delegation of two staff members from Mountains of the Moon University (MMU) recently attended DSA 2024
                in
                Nyeri, Kenya, and were inspired to initiate a data science research center at the University. This event
                presents a prime opportunity for MMU to forge collaborations around this exciting endeavor.</p>

            <h1>Target Audience</h1>
            <p>We expect 120 participants drawn from across Uganda, with a focus on the Toro Kingdom and surrounding
                areas.
                Attendees will include government officials, private sector representatives, academics, members of the
                UN
                community, and Civil Society Organizations.</p>

            <p> </p>

            <h1>Packages for <em>sponsorship</em></h1>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td colspan="4">Sponsorship Packages</td>
                    </tr>
                    <tr>
                        <th>Benefits</th>
                        <td>Gold (5000 USD)</td>
                        <td>Sliver (2000 USD)</td>
                        <td>Bronze (1000 USD)</td>
                        <td>Ordinary (500 USD)</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>Benefits</td>
                        <td>5000 USD</td>
                        <td>2000 USD</td>
                        <td>1000 USD</td>
                        <td>500 USD</td>
                    </tr> -->
                    <tr>
                        <td>Logo on the event website</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr>
                        <td>Space in the exhibition area at the workshop venue</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr>
                        <td>Logo on all visibility materials (banners, posters, media booths)</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr>
                        <td>Recognition by session chairs and mentions in remarks</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Company name and logo on all workshop merchandise</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Naming a session after the sponsor</td>
                        <td>✓</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <p> </p>

            <h1>Why Partner with Us?</h1>
            <ul>
                <li><strong>Impact:</strong> Contribute to Uganda’s socio-economic development through data-driven
                    innovation.
                </li>
                <li><strong>Visibility:</strong> Gain exposure to a diverse and influential audience.</li>
                <li><strong>Legacy:</strong> Support the cultivation of a data culture and future-ready workforce in
                    Uganda.
                </li>
            </ul>
        </div>
    </div>

    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container launch1">
            <h1 class="">Event Schedule</h1>
            <table>
                <thead>
                    <tr>
                        <th><center>Time</center></th>
                        <th colspan="2"><center>Activity/Session</center></th>
                        <!-- <th>Details</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for slot in page.day1 %}
                    {% include day1Talk.html %}
                    {% endfor %}
                    {% for slot in page.day2 %}
                    {% include day1Talk.html %}
                    {% endfor %}
                    {% for slot in page.day3 %}
                    {% include day1Talk.html %}
                    {% endfor %}
                </tbody>
            </table>


            <!-- <table class="presentations">
                <thead>
                    <tr>
                        <th>
                            <h4 class="text-center">Time</h4>
                        </th>
                        <th>
                            <h4 class="text-center">Presentation</h4>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for talk in page.agenda %} -->
                    <!--<pre> {{ talk | inspect}} </pre>-->
                    <!-- {% include listtalk.html %}
                    {% endfor %}
                </tbody>
            </table> -->

        </div>

    </div>
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% if page.speakers %}
                {% for speaker in page.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image" src="{{site.baseurl}}{{ speaker.image }}" alt="{{ speaker.name}}"
                    onerror="this.onerror = null; this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                    class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
                    <!--                    <a class="btn btn-secondary" href="#">View Profile</a>-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#exampleModal{{ speaker.id }}">
                        View Profile
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ speaker.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="exampleModalLabel">{{ speaker.name }}</h5>

                                </div>
                                <div class="modal-body">
                                    <center>
                                        <img itemprop="image" src="{{site.baseurl}}{{ speaker.image }}"
                                            alt="{{ speaker.name}}" onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                                            class="people-card--avatar">
                                        <div class="people-card--text">
                                            <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                                            <p class="people-card--title">{{ speaker.title }}</p>
                                            <p class="people-card--company">{{ speaker.company }}</p>
                                            <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                                        </div>
                                        <!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                                    </center>
                                    <hr>
                                    <center>
                                        <p class="text-left"><strong>Bio: </strong><br>
                                            {{ speaker.bio }}</p>
                                        <br>
                                    </center>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <p>No speakers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% if page.organizers %}
                {% for organizer in page.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image" src="{{site.baseurl}}{{ organizer.image }}" alt="{{ organizer.name }}"
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';"
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <p>No organizers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Gold Sponsors
                <!-- Sponsor -->
            </h1>
            <div class="container cards">

                {% if page.gold %}
                {% for partner in page.gold %}
                {% assign p = site.data.partners[partner] %}
                {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:400px;" role="figure"
                        class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" src="{{site.baseurl}}{{ p.image }}" onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!-- <span class="label">{{ p.name }}</span> -->
                </a>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <!-- <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Bronze Sponsors
            </h1>
            <div class="container cards">

                {% if page.bronze %}
                {% for partner in page.bronze %}
                {% assign p = site.data.partners[partner] %}
                {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:400px;" role="figure"
                        class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" src="{{site.baseurl}}{{ p.image }}" onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!--                     <span class="label">{{ p.name }}</span> -->
                </a>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div> -->
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Ordinary Sponsors
            </h1>
            <div class="container cards">

                {% if page.ordinary %}
                {% for partner in page.ordinary %}
                {% assign p = site.data.partners[partner] %}
                {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:400px;" role="figure"
                        class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" src="{{site.baseurl}}{{ p.image }}" onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!--                     <span class="label">{{ p.name }}</span> -->
                </a>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Partners
            </h1>
            <div class="container cards">

                {% if page.partners %}
                {% for partner in page.partners %}
                {% assign p = site.data.partners[partner] %}
                {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:350px;" role="figure"
                        class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" src="{{site.baseurl}}{{ p.image }}" onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!--                     <span class="label">{{ p.name }}</span> -->
                </a>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <hr class="event-separator">
</div>