---
layout: default
---
<div class="homepage-full-header">
    <div class="jumbotron carousel-container carousel-with-blurred-background Homepage-carousel"
        style="visibility: visible;">
        <div class="">
            {% include slider.html %}
        </div>
    </div>
    <div class="join-community global" id="join-community">
        <div class="container inner">
            <div class="wide">
                <a href="https://forms.gle/ohjc5c7BGbLJASdv6" class="submit btn btn-primary">Register</a>
            </div>
<!--             <div class="wide">
                <a href="https://forms.gle/ohjc5c7BGbLJASdv6" class="submit btn btn-primary">Become a speaker</a>
            </div> -->
        </div>
    </div>
</div>

<div class="mission-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Mission Statement</h1>
        <div class="general-body">
            We are an all-inclusive network of data scientists, enthusiasts, and organisations inspired to 
            grow data science skills and their usage to contribute to Uganda's development aspirations (NDPIII)
        </div>
    </div>
</div>

<div class="objectives-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Objectives</h1>
        <div class="general-body">
            <ul>
                <li>To create a forum for interaction amongst data scientists, enthusiasts, government, 
                    academia, UN, NGO, private sector, and civil society organisations keen on data science 
                    and its use for social good;</li>
                <li>To increase Uganda's data science capacity by raising awareness and stimulating interest 
                    through a pool of local case studies and training;</li>
                <li>To provide information and access to various data science resources and artifacts, 
                    including data, jobs, internships, scholarships and funding;</li>
                <li>To support the improvement of the policy and regulatory environment for data science in 
                    Uganda by inspiring new policies and/or amend and harmonize existing policies. These 
                    include policies around data access and sharing, data privacy, and issues of fairness 
                    and ethics.</li>
            </ul>
        </div>
    </div> 

</div>

<div class="activities-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Proposed Activities</h1>
        <div class="general-body">
            <ul>
                <li>Regular data science meet-ups and convenings on topical issues including; data, techniques, 
                    technology, career guidance, policy and application-specific issues.</li>
                <li>Capacity building events target all stakeholders, especially students and early career 
                    professionals, through workshops and short courses online and offline.</li>
                <li>Hackathons, training of trainers, grant-writing, result presentation and management sessions.</li>
                <li>Stakeholder engagements, including specific project planning and implementation meetings, 
                    ensure ownership and wholesome contribution to the local chapter's successful implementation.</li>
                <li>Producing an annual state of data science report for Uganda.</li>
                <li>Collaborative research and project implementation with the different stakeholders in the data 
                    science ecosystem of Uganda.</li>
                <li>Data science consulting and advisory services.</li>
            </ul>
        </div>
    </div>

</div>

<div class="roadmap-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Roadmap to the launch</h1>
        <div class="general-body">
            <img src="{{site.baseurl}}/assets/img/dsau_roadmap.jpg" alt="" >
        </div>
    </div>
    
</div>

<div class="team-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Interim Coordination Team</h1>
        <div class="general-body">
            <div class="people-cards">
                {% for organizer in site.data.interim_team %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ organizer.image }}"
                        alt="{{ organizer.name }}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>

{% include upcoming_events.html %}
{% include contact_us.html %}
{{ content }}
