---
layout: default
---
<div class="homepage-full-header">
    <div class="jumbotron carousel-container carousel-with-blurred-background Homepage-carousel"
        style="visibility: visible;">
        <div class="">
            <div id="carousel-id-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="">

                        <div class="background-image"
                            style="background-image: url({{site.baseurl}}/assets/img/flying-crane.jpg); background-position: 100% 60%;"
                            role="img">
                        </div>
                        <div class="content" style="height: 500px;">
                            <div class="content-inside banner-message">
                                <h2>Data Science Africa -  Uganda Chapter</h2>
                                <h3>March 26 2021</h3>
                            </div>
                            

                        </div>

                    </div>



                    <!-- <a class="pause carousel-control" href="#0" role="button">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                        <span class="sr-only">Play/Pause</span>
                    </a>
                    <a class="left carousel-control" href="#carousel-id-1" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-id-1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->

                </div>
            </div>
        </div>
    </div>
    <div class="join-community global" id="join-community">
        <div class="container inner">
            <div class="wide">
                <a href="https://forms.gle/ohjc5c7BGbLJASdv6" class="submit btn btn-primary">Register</a>
            </div>
        </div>
    </div>
    <!-- <div class="location-widget">
        <div class="container">
            <h1 class="section-header little-margin-bottom location-widget-title general-h1">Upcoming events near you
            </h1>
        </div>
        <div id="react-location-widget-root">
            <div class="LocationWidget-styles-scope-19LIe location-widget-body">
                <div class="LocationWidget-styles-geosuggestContainer-2UUaL geosuggest-container">
                    <div class="geosuggest LocationWidget-styles-locationInputModule-UkhdW location-input-module">
                        <div class="geosuggest__input-wrapper"><input class="geosuggest__input" type="text"
                                autocomplete="nope" placeholder="Search for a city to find events" role="combobox"
                                aria-expanded="false" aria-owns="geosuggest__list_ef339be9f0cd1" value=""></div>
                        <div class="geosuggest__suggests-wrapper">
                            <ul class="geosuggest__suggests geosuggest__suggests--hidden" role="listbox"
                                id="geosuggest__list_ef339be9f0cd1"></ul>
                        </div>
                    </div><span class="LocationWidget-styles-iconSearch-Q-ZiX icon-search location-search-icon"></span>
                </div>
                <div class="MuiBox-root jss3 jss1">
                    <p class="MuiTypography-root jss4 MuiTypography-body1">Filter by:</p>
                    <div class="MuiBox-root jss37 jss36 jss35">
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Ads/Traffic Analytics</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Android</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">AR/VR</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Cloud</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Data</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Design</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">DevOps</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Enterprise/Business Solutions</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Geo</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Inclusion</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">IoT</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">ML/AI</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Mobile</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Web</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Women Techmakers</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Google Assistant</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Career Development</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Flutter</span></div>
                        <div role="button" class="MuiChip-root MuiChip-clickable" tabindex="0" data-testid="chip"><span
                                class="MuiChip-label">Google Developer Certification Prep</span></div>
                    </div>
                </div>
                <div class="LocationWidget-styles-locationCarouselWrapper-lFb8f">
                    <div class="container">
                        <div class="slider LocationWidget-styles-locationCarousel-EcjDp location-carousel"
                            style="box-sizing: border-box; display: block; height: auto; position: relative; width: 100%;">
                            <div aria-live="polite" aria-atomic="true" tabindex="-1"
                                style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                                Slide 1 of 24</div>
                            <div class="slider-frame"
                                style="box-sizing: border-box; display: block; height: 100%; margin: 0px; overflow: hidden; padding: 0px; position: relative; touch-action: pan-y pinch-zoom; transform: translate3d(0px, 0px, 0px);">
                                <ul class="slider-list"
                                    style="transform: translate3d(0px, 0px, 0px); position: relative; display: block; margin: 0px; padding: 0px; height: 381px; width: 6840px; cursor: pointer; box-sizing: border-box; touch-action: pan-y pinch-zoom;">
                                    <li class="slider-slide slide-visible"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 0px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-accra-presents-flutter-sundays-2021-03-28/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/gdgaccra.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Flutter Sundays</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Accra
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Mar 28</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide slide-visible"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 285px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-algiers-presents-international-womens-day-2021/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/wtm-iwd-web-banners-mobile-1x_KJlBSSa.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">International Women's Day 2021
                                            </h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span>
                                                    al-Jaza´ir</div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 4</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide slide-visible"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 570px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-jalandhar-presents-04-cybersec-1-techdrill/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/Artboard%25206.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">04. CyberSec 1 | #TechDrill
                                            </h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Jalandhar
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 4</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide slide-visible"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 855px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-bahir-dar-presents-women-techmakers-bahir-dar-international-womens-day-summit-2021/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/IWD_baHmz7Y.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Women TechMakers Bahir Dar:
                                                International Women's Day Summit 2021</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Bahir Dar
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 4</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 1140px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-prague-presents-gdg-garage-prague-one-85/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_banners/GDG-Bevy-EventThumbnail-v3_RJsSdMz.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">GDG Garage Prague One</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Prague
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 5</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 1425px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-washington-dc-presents-flutter-20-5-things-you-should-know/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/gdg_icon_IVT6jDX.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Flutter 2.0 - 5 things you
                                                should know!</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Herndon
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 5</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 1710px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-hudson-valley-presents-coding-club-april-2021-04-05/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/CodingClub1272020.JPG&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Coding Club April</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Hudson
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 5</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 1995px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-boston-presents-informal-android-developer-meetup-boston-edition-21/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_banners/GDG-Bevy-EventThumbnail-v3.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Informal Android Developer
                                                Meetup (Boston Edition)</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Boston
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 5</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 2280px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-suhar-presents-wtm-iwd-oman-the-courage-to-speak-your-authentic-voice/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/wtm%2520logo_fmsnpmz.jpeg&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">WTM IWD Oman - The Courage to
                                                Speak: Your Authentic Voice</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Suhar
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 2565px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-tokyo-presents-onrainkai-cui-ziyankenakushiyondexue-bugoogleashisutantoxiang-kekai-fa/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/omg_Rawbm9T.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">
                                                【オンライン開催】じゃんけんアクションで学ぶGoogleアシスタント向け開発</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Tokyo
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 2850px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-sba-presents-welcome-day/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/welcome%2520day.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Welcome Day</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Sidi Bel
                                                    Abbès</div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 3135px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-taipei-presents-cong-pythondao-tensorflowxian-shang-du-shu-hui-er-bu-qu-6-kzui-jin-lin/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/User%2520Group%2520Taipei%2520%252B%2520gdg%2520user%2520group%2520taipei%2520logo_TiEcu37.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">從Python到TensorFlow線上讀書會-二部曲(6)
                                                -k最近鄰</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Taipei
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 3420px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-cloud-emirates-presents-google-for-startups-accelerator-class-1-demo-day/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_banners/GDG-Bevy-EventThumbnail-v3.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Google for Startups Accelerator
                                                Class 1 Demo Day</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Dubai
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 3705px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-athlone-presents-monthly-meetup-9/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_banners/GDG-Bevy-EventThumbnail-v3_RJsSdMz.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Monthly meetup</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Athlone
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 3990px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-kaliningrad-presents-women-developer-academy-how-to-become-a-teacher-in-it/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/__WTM%2520logo_stacked_rgb_ba6sBmX.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Women Developer Academy: how to
                                                become a teacher in IT</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span>
                                                    Kaliningrad</div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 4275px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-cloud-london-presents-gdg-tech-talks-17-metrics-to-accelerate-delivery-without-damaging-culture/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/Screenshot%25202021-01-18%2520at%252022.27.50_EHtGzvL.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">GDG Tech Talks - 17 metrics to
                                                accelerate delivery without damaging culture</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> London
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 4560px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-cloud-bursa-google-developer-groups-cloud-bursa-presents-ai-logs-tensorflow-kampi-data-augmentation-tf-datasets/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/7_pdRonoQ.jpg&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">AI Logs | Tensorflow Kampı |
                                                Data Augmentation - TF Datasets</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Bursa
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 4845px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-cloud-santiago-de-chile-presents-tips-para-la-certificacion-de-gcp-professional-machine-learning-engineer/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/MLEngineer.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">Tips para la certificación de
                                                GCP Professional Machine Learning Engineer</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Santiago
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 5130px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-juiz-de-fora-presents-gdg-talks-undistancing-open-makes-us-close/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/thumbnailpng.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">GDG Talks - Undistancing: open
                                                makes us close</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Juiz de
                                                    Fora</div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 6</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 5415px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-naama-presents-iwd21-algeria-couragetocreate/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/wtm-iwd-web-banners-desktop-2x_4w3oGSz_tDZSSCM.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">IWD'21 Algeria #CourageToCreate
                                            </h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Naama
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 7</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 5700px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-nablus-presents-international-womens-day-2021/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/165660583_3833897876697808_8366141784839896277_n.jpg&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">International Women's Day 2021
                                            </h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Nabulus
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 7</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 5985px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-minia-presents-international-womens-day-minia-21/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/contentbuilder/GDG-Bevy-EventThumbnail.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">International Women's Day Minia
                                                21</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Minya
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 7</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 6270px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-helwan-presents-international-womens-day-2021/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_face,h_400,q_auto:good,w_400/v1/gcs/platform-data-goog/events/%25D9%2586%25D8%25B3%25D8%25AE%25D8%25A9%2520%25D9%2585%25D9%2586%2520MAKE%2520A%2520COPY%2520WTM-IWD%2520Twitter%2520%2528customize%2529.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">International Women's Day 2021
                                            </h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Helwan
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 7</div>
                                            </div>
                                        </a></li>
                                    <li class="slider-slide"
                                        style="box-sizing: border-box; display: inline-block; height: auto; left: 6555px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 285px;">
                                        <a class="IconBlock-styles-scope-27bGt icon-block general-card"
                                            href="/events/details/google-gdg-hualien-presents-2021-04ju-hui/">
                                            <div class="IconBlock-styles-background-8wy7_ background __bds-thumbnail-roundness"
                                                style="background-image: url(&quot;https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_banners/GDG-Bevy-EventThumbnail-v2_RVRegXK.png&quot;);">
                                            </div>
                                            <h2 class="IconBlock-styles-type-31aPf type">2021-04聚會</h2>
                                            <div class="IconBlock-styles-title-3jI6c title">
                                                <div></div>
                                            </div>
                                            <div class="IconBlock-styles-meta-2Ja9P meta">
                                                <div class="chapter col-xs-7"><span class="icon-group"></span> Hualian
                                                </div>
                                                <div class="date col-xs-5 text-right"><span
                                                        class="icon-calendar-check-o"></span> Apr 7</div>
                                            </div>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="slider-control-centerleft"
                                style="position: absolute; top: 50%; left: 0px; transform: translateY(-50%);"><button
                                    type="button"
                                    class="LocationWidget-styles-directionButton-1efIR LocationWidget-styles-directionButtonLeft-3t83J glyphicon glyphicon-menu-left"
                                    disabled=""></button></div>
                            <div class="slider-control-centerright"
                                style="position: absolute; top: 50%; right: 0px; transform: translateY(-50%);"><button
                                    type="button"
                                    class="LocationWidget-styles-directionButton-1efIR LocationWidget-styles-directionButtonRight-tLsjN glyphicon glyphicon-menu-right"></button>
                            </div>
                            <style type="text/css">
                                .slider-slide>img {
                                    width: 100%;
                                    display: block;
                                }

                                .slider-slide>img:focus {
                                    margin: auto;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>
{{ content }}